.section {
  padding: 20px 0;
  background-color:rgb(10, 138, 138);
}

.section-conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
   display: flex;
  align-items: baseline;
  
}

.section-title {
 font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-list {
  display: flex;
  margin-left: auto;
}

.section-item {
  margin-right: 50px;
}

.section-item:last-child {
  margin-right: 0;
}

.section-link {
  width: 100px;
  border-radius: 4px;
  padding: 14px 10px;
  background-color: #a7c8ee;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: black;
}

.section-link:focus,
.section-link:hover {
background-color: #599ce7;
}