.search-label {
  font-size: 18px;
  font-weight: 500;
}

#search-box {
  width: 250px;
  padding: 10px 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.search-result {
  padding: 0;
  text-align: center;
  align-items: center;
}

.search-item {
 padding-left: 100px;
 margin-bottom: 5px;
}

.search-link {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
  display: inline-block;
  width: 270px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
