.section{
  padding-top: 25px;
}

.section-title{
    font-size: 30px;
    margin-bottom: 30px;
}

.section-nav{
    margin-bottom: 30px;
}

.section-link{
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
    color: black;
    border-radius: 4px;
    background-color: #a59595;
    padding:  1rem;

}

.section-link:hover,
.section-link:focus{
    background-color:darkgray;
    color: rgba(24, 112, 184, 0.767);
}

.section-link:last-child{
    margin-right: 0px;
}