<section class="top">
  <a class="top-logout" routerLink="/base">Log Out</a>
  <h2 class="top-title">Card Users</h2>
  
  <ul  class="top-list">
    <li class="list-item" *ngFor="let user of users">
      <a class="top-link" routerLink="/detail/{{ user.id }}">
        <img class="list-image" src="{{ user.avatar }}" alt="{{ user.first_name }}" />
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p>{{ jobs }}</p>
      </a>
    </li>
  </ul>
  <button class="btn-add" type="button" (click)="toggle()">add new</button>
</section>

<section [ngClass]="{ invisible: visibility }">
  <div class="top-box">
    <form  class="top-form">
      <input class="top-input" type="text" placeholder="Enter name" />
      <input class="top-input" type="text" placeholder="job" />
      <button class="btn-add" type="submit" (click)="add()">Create</button>
    </form>
  </div>
</section>
