.hero {
  padding: 20px 0;
}

.hero-title {
margin-bottom: 20px;
}

.hero-block {
  margin-bottom: 40px;
}

.hero-label {
  font-weight: 500;
}

.hero-input {
}

.hero-add {

}

.hero-list {
  
}
.hero-item {
  margin-bottom: 10px;
  padding: 10px 0;
}

.hero-link {
  padding: 10px;
  background-color:rgb(185, 175, 175);
}

.hero-wrapper {
  
  background-color: rgb(29, 25, 25);
  color: white;
}

.hero-del {
}